<%- include('../fragments/header.ejs') %>
    <main>
        <div class="container">
            <% for (let l of lessons) { %>
                <table class="lesson-table">
                    <tbody>

                        <tr>
                            <th class="lesson-table-element">Teacher Name</th>
                            <td class="lesson-table-element">
                                <%= l.teacher.name%>
                                    <%= l.teacher.surname%>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Date</th>
                            <td class="lesson-table-element">
                                <%= l.date.toISOString().split('T')[0] %>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Start Time</th>
                            <td class="lesson-table-element">
                                <%= l.starttime %>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">End Time</th>
                            <td class="lesson-table-element">
                                <%= l.endtime %>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Topic</th>
                            <td class="lesson-table-element">
                                <%= l.topic %>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Classroom Nr</th>
                            <td class="lesson-table-element">
                                <%= l.classroomnr %>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="lesson-table-flex">
                                    <a href="Lessons/details/<%=l._id%>" class="list-actions-button-details">Details</a>
                                    <a href="Lessons/edit/<%=l._id%>" class="list-actions-button-edit">Edit</a>
                                    <a href="Lessons/delete/<%=l._id%>" class="list-actions-button-delete">Delete</a>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                    <!-- </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="lessons/details/1" class="list-actions-button-details">Details</a>
                                <a href="lessons/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="lessons/details/1" class="list-actions-button-details">Details</a>
                                <a href="lessons/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="lessons/details/1" class="list-actions-button-details">Details</a>
                                <a href="lessons/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="lessons/details/1" class="list-actions-button-details">Details</a>
                                <a href="lessons/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody> -->
                </table>
                <% } %>
                    <table class="lesson-table">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="text-align: center;">
                                        <a href="lessons/add" class="lesson-table-add">+ Add new lesson</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>

    </main>
    <%- include('../fragments/footer.ejs') %>