<%- include('../fragments/header.ejs') %>
    <main>

        <div class="container">
            <% for (let p of pres) { %>
                <table class="lesson-table">
                    <tbody>
                        <tr>
                            <th class="lesson-table-element">Student's Name</th>
                            <td class="lesson-table-element">
                                <%= p.student.name%>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Student's Surname</th>
                            <td class="lesson-table-element">
                                <%= p.student.surname%>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Date</th>
                            <td class="lesson-table-element">
                                <%= p.lesson.date.toISOString().split('T')[0] %>
                            </td>
                        </tr>
                        <tr>
                            <th class="lesson-table-element">Topic</th>
                            <td class="lesson-table-element">
                                <%= p.lesson.topic %>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="lesson-table-flex">
                                    <a href="Presences/edit/<%=p._id%>" class="lesson-table-edit">Edit</a>
                                    <a href="Presences/details/<%=p._id%>" class="lesson-table-add">Select</a>
                                    <a href="Presences/delete/<%=p._id%>" class="lesson-table-delete">Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <% } %>
                    <!-- <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Lana</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Miła</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Patryk</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Brzeski</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Weronika</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Kot</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Andrzej</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Prosty</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Wiktoria</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Wesoła</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Marcin</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Widłak</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Karolina</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Wiśniewska</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher's Name</th>
                        <td class="lesson-table-element">Jan</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Name</th>
                        <td class="lesson-table-element">Michał</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Student's Surname</th>
                        <td class="lesson-table-element">Melaniuk</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="presences/edit" class="lesson-table-edit">Edit</a>
                                <a href="presences/details/1" class="lesson-table-add">Select</a>
                                <a href="" class="lesson-table-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> -->
                    <table class="lesson-table">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="text-align: center;">
                                        <a href="presences/add" class="lesson-table-add">+ Add new Presence</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>

    </main>
    <%- include('../fragments/footer.ejs') %>